:root {
    --color-shadow-primary: white;
    --color-shadow-highlight: #ff6400;
    --color-shadow-dark: #000;
}
.co {
    @import "variables";
    @import "colors";
    @import "typography";
    @import "form-reset";
    @import "mixins";
    @import "items-container";
    @import "nav";
    &.sheet {
        &.actor {
            min-width: 765px;
            .window-content {
                padding: 0;
                form.editable, form.locked {
                    padding: 0;
                    margin: 0;
                    .sidebar {
                        flex: 0;
                        padding: 10px;
                        .portrait {
                            cursor: pointer;
                            background: white;
                            outline: 3px solid #d7d7d7;
                            box-shadow: 5px 5px 10px black;
                            display: flex;
                            flex: 1;
                            padding: 0;
                            width: 150px;
                            height: 200px;
                            margin: 5px;
                            justify-content: center;
                            align-content: center;
                            justify-items: center;
                            align-items: center;
                            img {
                                border: none;
                                margin: 0;
                                padding: 0;
                                max-width: 150px;
                                max-height: 200px;
                            }
                        }
                        .tags {
                            list-style-type: none;

                            .tag {
                                border: 2px groove #eeede0;
                                padding: 3px;
                                margin-bottom: 3px;
                                color: @colorOlive;
                            }
                        }
                    }
                    .main {
                        .header {
                            flex: 0;
                            flex-wrap: nowrap;
                            .details {
                                padding: 5px;
                                display: grid;
                                grid-template-columns: 1fr 6fr;
                                grid-gap: 10px;
                                grid-auto-columns: minmax(100px, auto);
                                .form-label {
                                    justify-self: end;
                                    align-self: center;
                                }
                                .form-value {
                                    align-self: center;
                                    flex: 1;
                                }
                            }
                        }
                        .nav {
                            .nav()
                        }
                        .content {
                            flex: 1;
                            padding: 5px;
                            margin: 0;
                            .sheet-body {
                                .stats {
                                    height: 100%;
                                    .stats-layout {
                                        .stats-layout-top {
                                            .stats-layout-topright {
                                                margin-left: @layout-margin;
                                            }
                                        }
                                        .stats-layout-middle,
                                        .stats-layout-bottom {
                                            margin-top: @layout-margin;
                                            .stats-layout-middleright,
                                            .stats-layout-bottomright {
                                                margin-left: @layout-margin;
                                            }
                                        }
                                        .abilities-container {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                                            grid-gap: 3px;
                                            grid-auto-columns: minmax(20px, 50px);
                                            .cell {
                                                justify-self: center;
                                                align-self: center;
                                                min-width: 40px;
                                                .field-value {
                                                    max-width: 40px;
                                                }
                                                .header {
                                                    color: darkslategray;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                        .combat-container, .resources-container {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                                            grid-gap: 3px;
                                            grid-auto-columns: minmax(20px, 50px);
                                            .cell {
                                                justify-self: center;
                                                align-self: center;
                                                min-width: 40px;
                                                .field-value {
                                                    max-width: 40px;
                                                }
                                                .header {
                                                    color: darkslategray;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                        .hp-container {
                                            display: grid;
                                            grid-template-columns: 1fr 1fr 1fr;
                                            grid-gap: 3px;
                                            grid-auto-columns: minmax(20px, 50px);
                                            .cell {
                                                justify-self: center;
                                                align-self: center;
                                                min-width: 40px;
                                                .field-value {
                                                    max-width: 40px;
                                                }
                                                .header {
                                                    color: darkslategray;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                    }
                                }
                                .actions {
                                    .items-container()
                                }
                                .inventory {
                                    .items-container()
                                }
                                .paths,
                                .capacities {
                                    .items-container()
                                }
                                .features {
                                    .items-container()
                                }
                                .bio {
                                    .editor {
                                        min-height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.item {
            .window-content {
                padding: 0;
                form.editable, form.locked {
                    padding: 0;
                    margin: 0;
                    .sidebar {
                        flex: 0;
                        padding: 10px;
                        .picture {
                            cursor: pointer;
                            background: lightgray;
                            outline: 3px solid white;
                            box-shadow: 5px 5px 10px black;
                            flex: 0;
                            padding: 0;
                            margin: 5px;
                            width: 100px;
                            height: 100px;
                            img {
                                margin:0;
                                padding:0;
                                border: none;
                                width: 100px;
                                max-width: 100px;
                                min-width: 100px;
                                height: 100px;
                                max-height: 100px;
                                min-height: 100px;
                            }
                        }
                        .features {
                            margin-top: 20px;
                            .featured-item {
                                width:100%;
                                padding:3px;
                                margin:0;
                                border: 2px groove #eeede0;
                                font-size: smaller;
                                text-align: center;
                                //padding: 3px;
                                margin-top: 3px;
                                //color: @colorOlive;
                            }
                        }
                    }
                    .main {
                        .header {
                            flex: 0;
                            flex-wrap: nowrap;
                            .details {
                                padding: 15px 10px 0 10px;
                                .item-name{
                                    h1 {
                                        font-family: @font-tertiary;
                                        border: none;
                                        font-size: 30px;
                                        min-height:40px;
                                        margin:0;
                                        padding:0;
                                        input {
                                            min-height:40px
                                        }
                                    }
                                }
                                .item-type{
                                    padding-top:5px;
                                    h3 {
                                        text-align: right;
                                        font-family: @font-tertiary;
                                        font-size : 20px;
                                        color : @colorDark;
                                        border: none;
                                        height:20px
                                    }
                                }
                            }
                        }
                        .nav {
                            .nav()
                        }
                        .content {
                            background: rgba(0,0,0,0.05);
                            flex: 1;
                            padding: 5px;
                            margin: 0;
                            .sheet-body {
                                .description {
                                    //.editor {
                                    //    margin: 0;
                                    //    overflow: hidden;
                                    //    min-height: calc(100% - 225px);
                                    //    height: calc(100% - 225px);
                                    //    max-height: calc(100% - 225px);
                                    //
                                    //    .editor-content {
                                    //        padding: 5px;
                                    //        margin: 0;
                                    //        overflow: auto;
                                    //        height: 100%;
                                    //        min-height: 100%;
                                    //        max-height: 100%;
                                    //    }
                                    //}
                                    .editor {
                                        border: 1px solid red;
                                        height: 100%;
                                        min-height: 400px;
                                    }
                                }
                                .details {
                                    .list-3col{
                                        display: grid;
                                        grid-template-columns: 1fr 8fr 2fr;
                                        grid-gap: 1px;
                                        grid-auto-columns: minmax(15px, auto);
                                        .cell {
                                            &.center {
                                                justify-self: center;
                                                align-self: center;
                                            }
                                            &.left {
                                                justify-self: start;
                                                align-self: center;
                                            }
                                            &.right {
                                                justify-self: end;
                                                align-self: center;
                                            }
                                            .header {
                                                color: @colorOlive;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                    .list-4col{
                                        display: grid;
                                        grid-template-columns: 1fr 1fr 8fr 2fr;
                                        grid-gap: 1px;
                                        grid-auto-columns: minmax(15px, auto);
                                        .cell {
                                            &.center {
                                                justify-self: center;
                                                align-self: center;
                                            }
                                            &.left {
                                                justify-self: start;
                                                align-self: center;
                                            }
                                            &.right {
                                                justify-self: end;
                                                align-self: center;
                                            }
                                            .header {
                                                color: @colorOlive;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                    .actions {
                                        padding : 20px;
                                        button.action-button {
                                            flex: 0;
                                        }
                                    }
                                    .modifiers{
                                        .modifiers-container {
                                            padding:10px;
                                            .modifier-row {
                                                padding-bottom:2px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.dialog {
        .dialog-field {
            height : 27px;
            margin-top: 1px;
            .dialog-field-label{
                padding:4px;
            }
            .dialog-field-value{}
        }
        &.skillroll {
            .skill-bonuses {
                background: rgba(0, 0, 0, 0.05);
                border: 2px groove var(--color-border-light-highlight);
                height: 140px;
                overflow: auto;
                .bonus-item {
                    background: rgba(0, 0, 0, 0.1);
                    height:27px;
                    padding: 4px;
                    .bonus-value {}
                    .bonus-name {margin-left:5px;}
                    .bonus-actions {}
                    &.checked {
                        background: rgba(0, 0, 0, 0.3);
                    }
                    &:hover {
                        cursor:pointer;
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
    .action-icon {
        width : 48px;
        height : 48px;
        border : none;
        outline: 2px solid white;
        box-shadow: 3px 3px 5px gray
    }
    .action-icon-small {
        width : 32px;
        height : 32px;
        border : none;
        outline: 2px solid white;
        box-shadow: 3px 3px 5px gray
    }
}
