.sheet-header {
  .theme-dark & {
    background: linear-gradient(5deg, var(--color-attack-dark) 60%, #000000);
  }
  .theme-light & {
    background: linear-gradient(5deg, var(--color-attack-light) 60%, var(--color-attack-dark));
  }
}
.window-content {
  .theme-dark & {
    background-color: #00000094;
  }
  .theme-light & {
    background-color: #584a756b;
  }
  fieldset {
    margin-bottom: 15px;
    gap: 4px;
  }
  .rechargeable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .empilage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .panelLeft {
    order: 1;
  }
  .panelRight {
    order: 2;
  }
  .form-group {
    gap: 10px;
    margin-top: 3px;
  }
  select {
    text-align: left;
  }
  legend {
    margin-bottom: 5px;
    text-align: center;
    .theme-dark & {
      color: var(--color-equipment-light);
    }
    .theme-light & {
      color: var(--color-equipment-dark);
    }
  }
  .action.item.active {
    gap: 0;
  }
  .action-tabs {
    margin-top: 0px;
  }
  .halfPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .form-header {
    padding: 4px 10px 0px 15px;
    border-radius: 12px 12px 0px 0px;
    .theme-dark & {
      background-color: var(--color-equipment-dark);
      color: #e7d1b1;
    }
    .theme-light & {
      background-color: var(--color-equipment-light);
      color: #222;
    }
  }

  .miniField > input {
    flex-grow: 0.5;
  }
  .labelModifier {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.4fr;
    column-gap: 10px;
    label {
      font-weight: bold;
      padding-left: 15px;
    }
  }
  .modifiers-container {
    .modifier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 32px;
      grid-template-rows: 1fr 1fr;
      gap: 2px 8px;
      margin-bottom: 8px;

      .theme-dark & {
        border: 1px solid var(--color-attack-dark);
      }
      .theme-light & {
        border: 1px solid var(--color-attack-light);
      }

      :nth-child(5) {
        grid-column: auto / span 2;

        label {
          flex: 2;
        }

        input[type="text"] {
          flex: 11;
        }
      }

      button {
        grid-column: 4;
        grid-row: 1;
      }
    }
  }

  .resolvers-container {
    .resolver {
      .form-group.effects .form-fields span {
        margin-left: 8px;
      }

      .form-group-stacked.like-grid.effects {
        label,
        .form-fields {
          grid-template-columns: repeat(2, 10fr) 15fr;
        }
      }
    }
  }
}
