&:not(.minimized) {
  min-width: 890px;
}

.window-content {
  @import "./character-header.less";
  @import "./character-sidebar.less";

  .dropzone {
    margin-left: 70px;
  }
}
.features-container {
  .item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px 10px 0px 10px;
    column-gap: 20px;
  }
}
.features.section-container {
  margin: 0;
  padding: 0;
}
.currency-row {
  gap: 20px;
  label {
    text-align: end;
    font-weight: bold;
    font-size: 15px;
  }
  .current {
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px var(--color-abilities);
    height: 25px;
  }
}

section.biography {
  .misc,
  .bio,
  .appearance {
    &.folded {
      display: none;
    }
  }
}
