&:not(.minimized) {
  min-width: 725px;
}

.window-content {
  @import "./encounter-header.less";
  @import "./encounter-sidebar.less";

  .properties {
    max-height: 90%;
    overflow: hidden;

    .notes {
      max-height: calc(100% - 20px);
      text-wrap: auto;
      .editor {
        margin: 8px;
      }
    }

    prose-mirror.editor {
      margin: 0;
    }
  }
  .editor-content {
    text-wrap: auto;
  }
  .attack-detail {
    max-height: 120px;
    white-space: nowrap;
    overflow-y: scroll;
    text-wrap: auto;
    width: 100%;
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000000 12px, #000000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%);
  }
  .attack-description {
    margin-bottom: 5px;
  }
}
li.item.attack {
  border-bottom: 2px solid var(--color-encounterSheet);
}
li.item.attack:last-child {
  border-bottom: none;
}

.currency-row {
  gap: 20px;
  label {
    text-align: end;
    font-weight: bold;
    font-size: 15px;
  }
  .current {
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px var(--color-abilities);
    height: 25px;
  }
}
