<div class="items inventory-section">
    <div class="body">
        <section class="inventory-list directory-list inventory-pane">
            <div class="inventory-header">
                <h3 class="item-name">Weapons</h3>
                <span class="item-sell-value">Value</span>
                <span class="item-quantity">Quantity</span>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-type="weapon"><i class="fas fa-fw fa-plus"></i></a>
                    <a class="item-control inventory-browse" title="Open Inventory Browser" data-filter="itemtypes-weapon"><i class="fas fa-fw fa-search"></i></a>
                </div>
            </div>
            <ol class="inventory-items item-list" data-item-type="weapon">
                <li class="list-row">
                    <div class="item" data-item-id="wev8FMaai5HEi9yK" data-item-is-container="false">
                        <div class="item-name rollable">
                            <div class="item-image">
                                <img class="item-icon" src="https://assets.forge-vtt.com/bazaar/systems/pf2e/assets/icons/equipment/weapons/longsword.webp" alt="Longsword">
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <h4 class="rarity-common">
                                Longsword
                            </h4>
                        </div>
                        <span class="item-sell-value">
                                                            <span data-visibility="all">
                                                                    2 gp
                                                            </span>
                                                    </span>
                        <span class="item-quantity">
                                                    <a class="item-decrease-quantity" data-action="decrease-quantity" title="[Click] Decrease by 1
[Shift-Click] Decrease by 5
[Control-Click] Decrease by 10">–</a>
                                                    <span>1</span>
                                                    <a class="item-increase-quantity" data-action="increase-quantity" title="[Click] Increase by 1
[Shift-Click] Increase by 5
[Control-Click] Increase by 10">+</a>
                                                </span>


                        <div class="item-controls">

                            <a class="carry-type-hover item-carry-type item-control active tooltipstered" data-tooltip-content="#inventory-wev8FMaai5HEi9yK-carryType"><span class="fa-stack fa-fw fa-2xs"><i class="fa-solid fa-hand-back-fist fa-stack-2x"></i><i class="fab fa-1 fa-inverse fa-stack-1x"></i></span></a>
                            <div class="hover-content carry-hover-content" id="inventory-wev8FMaai5HEi9yK-carryType" data-item-id="wev8FMaai5HEi9yK">
                                <ul>
                                    <li>
                                        <a class="item-control item-location-option selected" data-carry-type="held" data-hands-held="1">
                                            <i class="fas fa-hand-rock"></i>Held 1H
                                        </a>
                                    </li>
                                    <li>
                                        <a class="item-control item-location-option" data-carry-type="held" data-hands-held="2">
                                            <i class="fas fa-hand-rock"></i>Held 2H
                                        </a>
                                    </li>
                                    <li>
                                        <a class="item-control item-location-option" data-carry-type="worn" data-in-slot="false"><i class="fas fa-tshirt"></i>Worn</a>
                                    </li>
                                    <li>
                                        <a class="item-control item-location-option " data-carry-type="dropped"><i class="fas fa-grip-lines"></i>Dropped</a>
                                    </li>
                                </ul>
                            </div>
                            <a class="item-control" data-action="toggle-identified" title="Mystify Item"><i class="fa-regular fa-question-circle fa-1x fa-fw"></i></a>
                            <a class="item-control" data-action="generate-attack" title="Generate Attack"><i class="fas fa-bolt fa-1x fa-fw"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit fa-1x fa-fw"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash fa-1x fa-fw"></i></a>
                        </div>
                    </div>

                </li>
            </ol>
            <div class="inventory-header">
                <h3 class="item-name">Armor</h3>
                <span class="item-sell-value">Value</span>
                <span class="item-quantity">Quantity</span>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-type="armor"><i class="fas fa-fw fa-plus"></i></a>
                    <a class="item-control inventory-browse" title="Open Inventory Browser" data-filter="itemtypes-armor"><i class="fas fa-fw fa-search"></i></a>
                </div>
            </div>
            <ol class="inventory-items item-list" data-item-type="armor">
            </ol>
            <div class="inventory-header">
                <h3 class="item-name">Equipment</h3>
                <span class="item-sell-value">Value</span>
                <span class="item-quantity">Quantity</span>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-type="equipment"><i class="fas fa-fw fa-plus"></i></a>
                    <a class="item-control inventory-browse" title="Open Inventory Browser" data-filter="itemtypes-equipment"><i class="fas fa-fw fa-search"></i></a>
                </div>
            </div>
            <ol class="inventory-items item-list" data-item-type="equipment">
            </ol>
            <div class="inventory-header">
                <h3 class="item-name">Consumables</h3>
                <span class="item-sell-value">Value</span>
                <span class="item-quantity">Quantity</span>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-type="consumable"><i class="fas fa-fw fa-plus"></i></a>
                    <a class="item-control inventory-browse" title="Open Inventory Browser" data-filter="itemtypes-consumable"><i class="fas fa-fw fa-search"></i></a>
                </div>
            </div>
            <ol class="inventory-items item-list" data-item-type="consumable">
            </ol>
            <div class="inventory-header">
                <h3 class="item-name">Treasure</h3>
                <span class="item-sell-value">Value</span>
                <span class="item-quantity">Quantity</span>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-type="treasure"><i class="fas fa-fw fa-plus"></i></a>
                    <a class="item-control inventory-browse" title="Open Inventory Browser" data-filter="itemtypes-treasure"><i class="fas fa-fw fa-search"></i></a>
                </div>
            </div>
            <ol class="inventory-items item-list" data-item-type="treasure">
            </ol>
            <div class="inventory-header">
                <h3 class="item-name">Containers</h3>
                <span class="item-sell-value">Value</span>
                <span class="item-quantity">Quantity</span>
                <div class="item-controls">
                    <a class="item-control item-create" title="Create Item" data-type="backpack"><i class="fas fa-fw fa-plus"></i></a>
                    <a class="item-control inventory-browse" title="Open Inventory Browser" data-filter="itemtypes-backpack"><i class="fas fa-fw fa-search"></i></a>
                </div>
            </div>
            <ol class="inventory-items item-list" data-item-type="backpack">
            </ol>
        </section>
    </div>
</div>