<div class="notes-section public-notes">
    <label class="details-label">{{localize "CO.ui.public"}}</label>
    <div class="notes-text">
        {{editor system.details.notes.public target="system.details.notes.public" button=true owner=owner editable=editable}}
    </div>
</div>
<div class="notes-section private-notes">
    <label class="details-label">{{localize "CO.ui.private"}}</label>
    <div class="notes-text">
        {{editor system.details.notes.private target="system.details.notes.private" button=true owner=owner editable=editable}}
    </div>
</div>
