{{log "Chroniques Oubliées | item sidebar" this}}
<div class="sidebar">
    <div class="picture">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <ul class="tags">
        {{#each tags as |tag id|}}
            <li class="tag">{{tag}}</li>
        {{/each}}
    </ul>
</div>
