<div class="co-roll-dialog-dmg">
  <label>{{localize "CO.label.long.formulaDamage"}}</label>
  <div class="form-fields">
    <input class="field-value" id="formulaDamage" name="formulaDamage" type="text" value="{{formulaDamage}}" data-dtype="String" data-tooltip="{{damageFormula}}" />
  </div>
</div>