<form class="{{cssClass}}" autocomplete="off" onsubmit="event.preventDefault();">
    {{!log "Chroniques Oubliées | levelup" this}}
    <header class="sheet-header"></header>
    <section class="sheet-body"></section>
</form>