.items-list .items-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 8px 0 2px 0;
    padding: 4px 0 2px 6px;
    line-height: 12px;
    font-size: 12px;
    background: var(--t5e-faint-color);
    -webkit-box-shadow: 0 0 3px inset var(--t5e-light-color);
    box-shadow: 0 0 3px inset var(--t5e-light-color);
    border-radius: 5px;
}
