@import "styles/components/items-container";
@import "styles/components/container/section-container";
@import "styles/components/container/sidebar";
@import "styles/components/container/ability-scores";
@import "styles/components/container/tags";
@import "styles/components/container/actions-list";
@import "styles/components/container/inventory";
@import "styles/components/container/notes";
@import "styles/components/nav";
&.sheet {
  &.actor.character {
    min-height: 480px;
    min-width: 760px;
    .window-content {
      padding: 0;
      form.editable,
      form.locked {
        padding: 0;
        margin: 0;
        .main {
          i.toggle-action {
            font-size: 16px;
          }
          .character-sheet-header {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            .name {
              //font-family: var(--sans-serif-condensed);
              //font-size: var(--font-size-28);
              font-family: var(--serif-condensed);
              font-size: var(--font-size-36);
              height: var(--font-size-34);

              font-weight: 700;
              width: 100%;
              flex-wrap: nowrap;
              input {
                font-weight: inherit;
                height: 32px;
              }
              .name-value {
                //font-variant: small-caps;
                margin-left: 6px;
                margin-right: 18px;
              }
              .level-label {
                flex: 0;
                text-align: right;
                margin-right: 0.1em;
                text-transform: uppercase;
              }
              input.level {
                flex: 0 0 40px;
                text-align: center;
              }
              span.level {
                flex: 0 0 40px;
                text-align: center;
              }
            }
            select {
              //flex: auto 0 0;
              padding: 4px !important;
              height: auto !important;
              font-family: var(--sans-serif);
              font-weight: 500;
              font-size: var(--font-size-10);
              background: rgba(255, 255, 255, 0.5);
            }
            .traits-list-item {
              border: 2px solid #d8c384;
              color: white;
              text-transform: uppercase;
              background-color: #002664;
              &.category-select {
                background-color: #566193;
              }
              &.size-select {
                background-color: #3a7a58;
              }
            }
          }
          .sheet-body {
            flex: 1;
            padding: 5px;
            margin: 0;

            h3.header {
              position: relative;
              margin-top: 0.75em;
              font-size: var(--font-size-16);
              font-family: var(--serif);
              font-weight: 600;
              color: var(--primary);
              line-height: 1;
              border-bottom: 1px solid var(--color-border-divider);

              button {
                background: transparent;
                border-radius: 2px 2px 0 0;
                border: 1px solid var(--color-border-divider);
                color: var(--primary);
                cursor: pointer;
                font-family: var(--sans-serif);
                font-size: var(--font-size-12);
                font-weight: 500;
                height: 20px;
                line-height: var(--font-size-12);
                margin: 0;
                outline: none;
                text-transform: uppercase;
                width: auto;
              }

              & > button,
              & > .controls {
                position: absolute;
                bottom: -1px;
                right: 0;
              }
            }
            .main,
            .effects {
              .features-container,
              .actions-container,
              .effects-container {
                .items-container();
              }
              .ability-scores {
                margin: 0;
                padding: 0;
                display: grid;
                grid: 1fr / repeat(7, 1fr);
                justify-content: center;
                list-style: none;
                gap: 12px;
                .ability {
                  display: grid;
                  grid: "prefix" auto "mod" 1fr "score" auto "label" auto/1fr;
                  column-gap: 10px;
                  align-items: center;
                  .details-label {
                    font-family: var(--sans-serif);
                    font-size: 0.625rem;
                    font-weight: 800;
                    line-height: 1;
                    text-transform: uppercase;
                    color: var(--alt-dark);
                    margin-right: 2px;
                    white-space: nowrap;
                  }
                  .ability-name {
                    grid-area: label;
                    margin: 0;
                    text-align: center;
                    padding: 2px;
                    color: var(--primary);
                    opacity: 0.4;
                  }
                  .ability-id {
                    text-transform: capitalize;
                    grid-area: prefix;
                    font: 400 22px var(--serif-condensed);
                    color: var(--alt-dark);
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    border: none;
                    position: relative;
                    i.fas {
                      font-size: var(--font-size-12);
                      vertical-align: super;
                    }
                  }
                  h3.ability-mod {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-image-repeat: repeat;
                    border-image-source: url("../ui/frame-elegant.svg");
                    border-image-slice: 11;
                    border-image-width: 14px;
                    border-bottom: none;
                    border-style: double;
                    grid-area: mod;
                    font-size: var(--font-size-24);
                    font-family: var(--serif);
                    font-weight: 700;
                    height: 46px;
                    margin: 0;
                    padding-right: 4px;
                  }
                  .ability-score {
                    grid-area: score;
                    display: flex;
                    border-radius: 0;
                    font-size: 0;
                    border: 1px solid #d3ccbc;
                    background: rgba(211, 204, 188, 0.2);
                    margin-top: 4px;
                    height: 30px;
                    align-items: center;
                    justify-content: center;
                    div {
                      text-align: center;
                      font-size: var(--font-size-16);
                      font-family: var(--serif);
                      line-height: 16px;
                      height: 16px;
                    }
                  }
                }
                .ability.key {
                  .ability-id,
                  .ability-mod {
                    //color: var(--alt-dark);
                    color: var(--primary);
                  }
                }
              }
            }
            .inventory {
              .items-container();
            }
            .capacities {
              .items-container();
            }
            .bio {
            }
          }
        }
      }
    }
  }
}
