{{log "Chroniques Oubliées | profile" this}}
<section class="tab standard-form profile{{#if tabs.details.active}} active{{/if}}" data-group="primary" data-tab="details">

    {{#if debugMode}}
        <fieldset class="debug">
            <legend>{{localize "CO.ui.debug"}}</legend>
            {{formGroup fields._id value=item.id disabled=true localize=true label="CO.ui.id"}}
            {{formGroup systemFields.slug value=system.slug disabled=true localize=true}}
        </fieldset>
    {{/if}}

</section>