<h3 class="form-header"><a class="section-toggle">{{localize "CO.ui.data"}}</a></h3>
<!--<textarea class="field-value" name="system.pasteData" rows="20" placeholder="Collez les statistiques de la rencontre en respectant le format CO">{{{system.pasteData}}}</textarea>-->
{{editor target="system.pasteData" button=true owner=owner editable=editable}}
