/* ----------------------------------------- */
/*  Premade colors                           */
/* ----------------------------------------- */
.light {
  color: lightgray;
}
.bg-light {
  background: lightgray;
}
.darkgray {
  color: #23221d;
}
.bg-darkgray {
  background: #23221d;
  color: #fff;
}
.bg-dark {
  background: #464331c4;
  color: #fff;
}
.darkslate {
  color: darkslategray;
}
.bg-darkslate {
  background: darkslategray;
  color: #fff;
}
.darkgreen {
  color: #003c1e;
}
.bg-darkgreen {
  background: #003c1e;
  color: #fff;
}
.darkblue {
  color: midnightblue;
}
.bg-darkblue {
  background: midnightblue;
  color: #fff;
}
.blue {
  color: #009ee0;
}
.bg-blue {
  background: #009ee0;
  color: #fff;
}
.green {
  color: #44a12b;
}
.bg-green {
  background: #44a12b;
  color: #fff;
}
.black {
  color: #000;
}
.bg-black {
  background: #000;
  color: #fff;
}
.red {
  color: #cd071e;
}
.bg-red {
  background: #cd071e;
  color: #fff;
}
.purple {
  color: purple;
}
.bg-purple {
  background: purple;
  color: #fff;
}
/* Functional Colors*/
.bg-default {
  background: #003c1e;
  color: #fff;
}
.color-default {
  color: #003c1e;
}
.bg-header {
  background: #003c1e;
  color: #fff;
}
.color-header {
  color: #003c1e;
}
.bg-health {
  background: #44a12b;
  color: #fff;
}
.color-health {
  color: #44a12b;
}
.bg-stats {
  background: #003c1e;
  color: #fff;
}
.color-stats {
  color: #003c1e;
}
.bg-resource {
  background: darkslategray;
  color: #fff;
}
.color-resource {
  color: darkslategray;
}
.bg-recovery {
  background: #44a12b;
  color: #fff;
}
.color-recovery {
  color: #44a12b;
}
.co.item .sheet-header {
  display: flex;
}
.co.item .sheet-header img {
  margin: 0;
  padding: 0;
  border: none;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}
.co.item .inline-img {
  height: 27px;
  width: 27px;
  border: none;
  outline: 1px solid white;
}
.co.item .list-3col {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  grid-gap: 1px;
  grid-auto-columns: minmax(15px, auto);
}
.co.item .list-3col .cell.center {
  justify-self: center;
  align-self: center;
}
.co.item .list-3col .cell.left {
  justify-self: start;
  align-self: center;
}
.co.item .list-3col .cell.right {
  justify-self: end;
  align-self: center;
}
.co.item .list-3col .cell .header {
  color: #4b4a44;
  font-weight: bold;
}
.co.item .list-4col {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 2fr;
  grid-gap: 1px;
  grid-auto-columns: minmax(15px, auto);
}
.co.item .list-4col .cell.center {
  justify-self: center;
  align-self: center;
}
.co.item .list-4col .cell.left {
  justify-self: start;
  align-self: center;
}
.co.item .list-4col .cell.right {
  justify-self: end;
  align-self: center;
}
.co.item .list-4col .cell .header {
  color: #4b4a44;
  font-weight: bold;
}
.co.equipment fieldset.debug .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.co.equipment section[data-tab="details"] .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.co.capacity fieldset.debug .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.co.capacity section[data-tab="details"] .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.co.capacity section[data-tab="actions"] {
  overflow-y: auto;
}
.co.path fieldset.debug .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.co.path section[data-tab="details"] .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.co .action-icon {
  width: 48px;
  height: 48px;
  border: none;
  outline: 2px solid white;
  box-shadow: 3px 3px 5px gray;
}
.co .action-icon-small {
  width: 32px;
  height: 32px;
  border: none;
  outline: 2px solid white;
  box-shadow: 3px 3px 5px gray;
}
